@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .bg-hero-pattern {
    /* Substitui pelo caminho da tua imagem ou URL */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('/ed.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}