@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html {
    color: white;
    background-color: #000;

    background-image:
      radial-gradient(circle at 20% 85%, rgba(0, 140, 255, 0.35), transparent 55%),
      radial-gradient(circle at 80% 90%, rgba(0, 255, 170, 0.25), transparent 55%),
      linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.95));

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
